html {
  background: #eee9de;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0;
  vertical-align: middle;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  padding: .75em .75em 0;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  text-align: center;
  padding: 1.2em;
  float: left;
}

.div2 p {
  display: block;
}

a {
  color: #666;
  background-color: #eee9de;
  border-radius: .5em;
  border: solid;
  border-color: #333;
  display: inline-block;
  line-height: 1.5;
  padding: .5em;
  text-align: left;
  text-decoration: none;
  font-size: .8em;
}

a:hover {
  color: #eee9de;
  background-color: #333;
}

.btn {
  padding: .75em;
}

.div1 {
  display: inline-block;
  padding-top: 1.2em;
}

.div2 {
  display: inline-block;
  text-align: left;
}
